{% extends "layout.html" %}

{% block content %}

<div class="jumbotron home-info">
    {% load static %}
    <h1><img src="{% static 'app/images/logo1.jpeg' %}" class="d-inline-block align-center" alt="Картинка репки" width="100"> Толстых Николай Сергеевич</h1>

</div>

<div class="row">
    <div class="col-md">
        <h2>Мои увлечения</h2>
        <p>
            Увлекаюсь катанием на лыжах, пайкой, различной электроникой
        </p>
    </div>
    <div class="col-md">
        <h2>Место проживания</h2>
        <p>Проживаю в городе Усмань, Липецкой области, обучаюсь в 10 классе МБОУ лицея №1 г. Усмани</p>
    </div>
    <div class="col-md">
        <h2>Опыт в разработке</h2>
        <p>Успешно освоил двухгодичный курс разработки на Python в Лицеи Академии Яндекса</p>
    </div>
</div>

{% endblock %}
